[Desktop Entry]
Name=Pixxiden Gaming Session
Comment=Fullscreen game library launcher for Linux
Exec=/usr/bin/Pixxiden-session
TryExec=/usr/bin/Pixxiden-session
Type=Application
DesktopNames=Pixxiden
X-GDM-SessionRegisters=true
