[Desktop Entry]
Name=Pixxiden Gaming Session
Comment=Fullscreen game library launcher for Linux
Exec=/usr/share/wayland-sessions/pixiden-session.sh
TryExec=/usr/share/wayland-sessions/pixiden-session.sh
Type=XSession
DesktopNames=pixxiden
Icon=pixxiden
X-Session-Type=wayland
X-Session-IsRunnableHelper=true
